/* Colors
Orange: 255,78,0
Yellow: 236,159,5
Grey: 241,242,246
Blue: 84,81,253
*/

* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

#sidebar-menu {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgba(255, 78, 0);
    /* left: -200px; */
    transition: all 500ms linear;
}

#sidebar-menu.active {
    left: 0px;
}

#sidebar-menu ul li {
    color: rgba(255, 255, 255);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255);
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255);
}

a:hover {
    color: rgba(241, 242, 246);
}


/* a:link {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

a:active {
    text-decoration: none;
    color: rgba(255, 255, 255);
} */

.logo {
    /* border-radius: 50%; */
    display: block;
    margin: 0 auto;
    width: 505px;
}

#sidebar-menu .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar-menu .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
}

#sct-body {
    padding: 15px;
    display: block;
}

.tbl-listadoClientes {
    margin-top: 10%;
    margin-left: 15%;
    width: 50%;
}

.tbl-listadoClientes td,
.tbl-listadoClientes th {
    border: 1px solid #808080;
    padding: 5px;
}

.tbl-listadoClientes tr:nth-child(even),
.tbl-listadoClientes thead tr {
    background-color: #808080;
    color: aliceblue;
}


/**************************************
STATIC LAYOUT CSS
**************************************/

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header {
    width: 960px;
}

nav,
section {
    float: left;
}

nav {
    width: 200px;
    margin-right: 10px;
}

section {
    width: 750px;
}


/**************************************
  CSS TO MAKE THE EXAMPLE LOOK PRETTY
  **************************************/

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #2980b9;
    color: #FFF;
    font-family: Helvetica;
    text-align: center;
    margin: 0;
}

header,
nav,
section {
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    border-radius: 3px;
}

header {
    padding: 20px 0;
}

nav,
section {
    padding: 200px 0;
}