    h1 {
        padding: 45px;
        color: black;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    
    #sct-buscar {
        display: flex;
        justify-content: left;
        margin-left: 40px;
        margin-bottom: 25px;
    }
    
    #myInput {
        background-image: url('../media/imgs/searchIcon.png');
        background-size: 20px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 50%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
    
    #sct-buscar label {
        padding-right: 10px;
    }
    
    table {
        width: 70%;
        margin-left: 20px;
    }
    
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    
    th {
        background-color: rgba(84, 81, 253, 0.5);
        color: rgb(0, 0, 0);
    }
    
    th:hover {
        background-color: rgba(84, 81, 253);
        color: rgb(255, 255, 255);
    }
    
    th,
    td {
        padding: 15px;
        text-align: center;
        height: 30px;
        vertical-align: middle;
    }
    
    tr:nth-child(even) {
        background-color: rgb(187, 187, 187);
    }
    
    #asd-botones {
        display: flow-root;
        float: right;
        width: 30%;
        margin-top: 80px;
    }
    
    #asd-botones div {
        display: flow-root;
        float: right;
        width: 50%;
    }
    
    #asd-botones div {
        display: flow-root;
    }
    
    #asd-botones {
        display: flow-root;
    }
    
    .boton {
        color: rgb(255, 255, 255);
        background-color: rgb(84, 81, 253);
        text-align: center;
        width: 50%;
        border-radius: 5px;
        border-style: none;
        position: relative;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    
    .boton:hover {
        background-color: rgb(241, 242, 246);
        color: black;
        border-color: black;
        border-style: solid;
        border: 1px;
    }
    
    #btns-AS {
        display: flex;
        justify-content: center;
    }
    
    .btn-as {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 5px;
        margin: 20px 2px 20px 2px;
    }
    
    #previous {
        background-color: rgb(84, 81, 253);
        color: rgb(255, 255, 255);
    }
    
    #previous:hover {
        background-color: rgb(241, 242, 246);
        color: black;
    }
    
    #next {
        background-color: rgb(84, 81, 253);
        color: rgb(255, 255, 255);
    }
    
    #next:hover {
        background-color: rgb(241, 242, 246);
        color: black;
    }