.sct-contenedor-principal {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

.sct-contenedor-principal form h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.sct-contenedor-principal form {
    background-color: rgb(241, 242, 246);
    padding: 5%;
    background-size: 50%;
    border-radius: 20px;
}

.sct-contenedor-principal form div label {
    width: fit-content;
    display: inline-block;
}

.sct-contenedor-principal form div {
    margin-bottom: 15px;
}

.sct-contenedor-principal input {
    width: 100%;
    height: 30px;
}

.sct-contenedor-principal {
    display: flex;
    justify-content: center;
}

.main-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

#file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#btn-cargar {
    background-color: rgb(84, 81, 253);
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

#btn-registrar {
    background-color: rgb(84, 81, 253);
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    width: 100%;
}