* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    display: flex;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 26px;
    color: rgb(255, 78, 0)
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(84, 81, 253);
}

p {
    font-size: 14px;
}

.panel-izquierdo {
    width: 400px;
    text-align: center;
    background-color: gainsboro;
    padding-top: 30px;
    padding-bottom: 30px;
}

.boton-panel-izquierdo button {
    width: 280px;
    height: 80px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(255, 78, 0);
    color: white;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: rgb(84, 81, 253);
}

button:active {
    background-color: green;
}

.imagen {
    text-align: center;
}

.imagen-administra-pago-imp img {
    width: 200px;
    height: 260px;
    border: 2px solid blue;
    border-radius: 30px;
}

.panel-derecho {
    width: 50%;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: auto;
}

.selector select {
    width: 400px;
    height: 25px;
    margin-top: 60px;
    margin-left: 14px;
}

.boton-panel-derecho button {
    width: 280px;
    height: 80px;
    cursor: pointer;
    background-color: rgb(255, 78, 0);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 80px;
    margin-top: 20px;
}

.boton-panel-derecho button:hover {
    background-color: rgb(84, 81, 253);
}

.boton-panel-derecho button:active {
    background-color: green;
}

.boton-panel-derecho {
    margin-top: 80px;
}