* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../img/perfil-menu-background.jpg);
}

.main-wrapper {
    display: flex;
    font-family: Helvetica, sans-serif;
    justify-content: center;
    margin-top: 83px;
    margin-bottom: 83px;
}

h1 {
    font-size: 26px;
    color: rgb(255, 78, 0)
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(84, 81, 253);
}

p {
    font-size: 14px;
}

.fotografia,
.caracteristicas {
    padding: 2%;
    background-color: rgb(241, 242, 246);
    text-align: center;
}

.titulo-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    resize: none;
    width: 900px;
    height: 400px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.imagen-menu {
    margin-top: 70px;
    border: line;
}

.subtitulo-imagen {
    margin-top: 66px;
}

.imagen-link {
    margin-top: 40px;
}

button {
    width: 80px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(255, 78, 0);
    color: white;
}

button:hover {
    background-color: rgb(84, 81, 253);
}

button:active {
    background-color: green;
}