#main-content {
    display: block;
    background-size: cover;
    background-color: rgb(241, 242, 246);
}

#sct-aside {
    display: block;
    max-width: 400px;
    float: left;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

#sct-aside div {
    text-align: center;
    margin-top: 60px;
}

.boton {
    color: rgb(255, 255, 255);
    background-color: rgb(84, 81, 253);
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    border-style: none;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

#foto-duenho {
    width: 100%;
}

#main-content h1 {
    padding: 45px;
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

#sct-info {
    display: flow-root;
}

#sct-info div {
    text-align: justify;
    float: left;
    width: 50%;
    height: 100px;
    background-size: cover;
}

.txt-contenido {
    padding-left: 100px;
}

#sct-info {
    display: flow-root;
}